body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* 3.css */
.large1-text {
    color: #9A6229;
}




.rank h2 {
    color: #8B4513;
}

.rank img {
    width: 200px;
    height: auto;
    margin: 1rem 0;
}

.rank p {
    margin: 0.5rem 0;
}

.rating {
    color: orange;
    font-weight: bold;
}
